name: release

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 16
      uses: actions/setup-java@v1
      with:
        java-version: 16
    - name: Mavenを使ってビルド
      run: mvn --batch-mode --update-snapshots verify
    - name: パッケージをビルドの成果物としてリリース
      uses: softprops/action-gh-release@v1
      with:
        tag_name: release-v${{ github.run_number }}
        files: 'target/!original*.jar'
